.login{
	padding: 2% 2%;
	background-color: #033A29;
	opacity: 76%;
	color: white;
	text-align: center;
}

.paragraph {
	padding: 24px 0 0 0;
	text-align: center;
	font-size: 1.2rem;
	font-family: Rubik , sans-serif;
}





form{
	
	padding-bottom: 80px;

}

.login-form{
	display: flex;
	justify-content: space-between;
	padding: 6%;
	align-items: center;
	flex-direction: column;
	width: 36%;
	height: 30vw;
	border-color: red;
}

.login-form input{
	padding: 6%;
	border-color: black;
	
}


.log-button{
	background-color: #651501;
	padding: 2% 20%;
	color: white;
	font-size: 1rem;
	border-radius: 10px;
	font-family: Rubik , sans-serif;
	text-decoration: none;
	margin-bottom: 30%;
}

.password {
	color: dimgrey;
	padding-left: 400px;
	
}

.login-form a:hover{
	color: black;
}





	