h1 h2 h3 h4 h5{
	font-family: 'Josefin Sans', sans-serif;

}

i {
	color: black;


}

i:hover{
	color: orangered;
}
.icon-box i{
	width: 50px;
	justify-content: space-between;
}



.leaf i{
	color: #5D6501;
	opacity: 76%;
	pad
	
}


nav{
	height: 100px;
}

.red{
	color: #651501;
}

.flex-box{
	display: flex;
}
.section-column{
	padding-left: 8.33%;
	padding-right: 8.33%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	color: #FFFFFF;

}

.logo{
	font-size: 1.5rem;
	color: green;


}

.logo-head{
	height: 60px;
	width: 210px;
}

.nav-links ul{
	margin: 0;
	padding: 0;
	display: flex;

}

.nav-links{
	display: flex;
	align-items: center;
	text-decoration: none;

}

.nav-links li a{
	text-decoration: none;
	color: #651501;
	padding: 0 	2rem;
	display: block;
	font-size: 18px;
	word-spacing: 10px;
	font-family: Rubik , sans-serif;
}



.icon img{
	direction: right;
}

.nav-links li a:hover{
	color: orangered;
	

}

.container{
	display: flex;
	align-items: center;
	background-color: #033A29;
	color: #FFFFFF;	

}

.container img{
	float: right;
	width: 50%%;

}



.container p{
	background-color:#033A29;
	font-size: 2.5rem;
	width: 50%;
	font-weight: bold;
	font-family: Josefin Sans, sans-serif;
	text-align: left;	
}

#title-text{
	padding-bottom: 20%;
	padding-left: 10%;
}


.new-arrivals{
	 padding-bottom: 0px;
}


.new h1 {
	padding: 40px 80px;
	font-size: 30px;
	color: #651501;
	font-family: 'Josefin Sans', sans-serif;
	
}

.new-para {
	text-align: center;
	font-size: 26px;
	color: #651501;
	font-family: ;

}


.flex-container {
  display: flex;
  background-color: white;
  color: #651501;
  font-weight: 600;
  font-family: Rubik, sans-serif;

}

.flex-container > div {
  
  margin: 20px;
  padding: 20px;


 
}
.flex-container p {

	text-align: center;
	padding: 8px 8px;

}

.par h2{
	padding: 60px 110px;
	font-size: 30px;
	word-spacing: 6px;
	line-height: 170%;
	color:  #651501;
	text-align: left;
	
}
#heading2{
	text-align: center;
	color: #651501;
	font-size: 1.8rem;
	padding: 20px;
	font-family: Rubik, sans-serif;
	word-spacing: 12px;
	
}


.par p{
	
    padding: 0px 60px;
    width: 30%;
    height: 100px;
    text-align: justify;
    line-height: 170%;
    letter-spacing: 1%;
    font-size: 18px;
    word-spacing: 4px;

}

.par img {

	padding-right: 50px;
	float: right;
	width: 15%;

}

.button{
  background-color: #651501;
  border: none;
  color: white;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position: absolute;
  top: 200%;
  left: 2%;

}


.button {
	border-radius: 10px;
}


footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 35px;
	background-color: #033A29;
	margin-top: 5%;
	color: black;
	right: 0;
	left: 0;
	bottom: 0;

}


.row{
	display: flex;
	flex-wrap: wrap;
}

.footer-col ul{

	list-style: none;


}

.footer-col{
	padding: 0px, 10px;
}

.footer-col h4{
	font-size: 20px;
	position: relative;
	margin-bottom: 0px;
	padding: 4px;

}


.footer-col i {
	
	padding: 16px;
	color: white;

}



.footer-col li a{
	color: white;
	font-size: 20px;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: 20px;

}


.product{


	background-color: #033A29;
	opacity: 76%;
	padding: 2% 2%;

}

.product h1{

	text-align: center;
	color: white;
	justify-content: center;

}

.box h2{

	padding: 4%  4%;
	text-align: center;
	justify-content: center;
	font-size: 2rem;
	color: #651501;
}


.contact-us h2{
	padding: 4%  4%;
	text-align: center;
	justify-content: center;
	font-size: 2rem;
	color: #651501;
}

form{
	display: flex;
	justify-content: center;
}

.form-container{
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 5%;
	align-items: center;
	flex-direction: column;
	border: 2px solid black;
	width: 40%;
	height: 40vw;
	background-color: #033A29;
	opacity: 66%;
}


form input{
	width: 100%;
	height: 30px;
	border-color: black;
	border-style: solid;
}

form textarea{
	width: 100%;
	border-color: black;
	border-style: solid;
}

.contact form input{
	width: 80%;
	margin: 20px;
	height: 26pt;
	font-size: 1.1rem;
	padding: 2% 10%;
	border: 1px solid black;
	border-radius: 8px;
	text-align: center;

	
}


.contact textarea{
	width: 80%;
	margin: 8px; 
	font-size: 1.1rem;
	padding: 80px;
	border: 1px solid black;
	border-radius: 12px;
	text-align: center;

}

.contact form button{
	padding: 8px 10px 8px 10px;
	color: white;
	border: 1px solid black;
	margin: 5px;
	border-radius: 10px;
	align-items: center;
	display: inline-block;
	background-color: #651501;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}




.plants{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, auto));
	align-items: center;
	column-gap: 1rem;
	text-align: center;
	cursor: pointer;
	padding-top: 2rem;
	grid-row-gap: 40px;

}

.indoor{
	padding-bottom: 4.16%;
}



.indoor p{
	font-family: sans-serif;
	color: black;
	font-size: 10pt;


}

.indoor-image{
	width: 100%;
}

.cart{
	background-color: #651501;
	color: white;
	border-radius: 8px;
	height: 36px;
	width: 80px;
	border-width: 0px;

}

